<div class="w-75 mx-auto d-flex card shadow-sm rounded-2 home">
  <div class="p-3 d-flex justify-content-center align-items-center flex-column">
    <h1 class="text-center text-gradient-accent fw-bold">Accueil</h1>
    <div class="d-flex justify-content-start">
      <div class="d-flex justify-content-start align-items-center flex-column">
        <p class="text-justify mb-3">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
          Optio a perspiciatis repellendus debitis odit adipisci 
          deleniti saepe autem magnam tenetur,
          esse mollitia consequatur nobis rerum dolore omnis beatae cumque! Omnis.
        </p>
      </div>
    </div>
  </div>